{% extends 'base.html.twig' %}


{% block title %}All acetgory{% endblock %}


{% block body %}

    <h1>La liste des categories </h1>

    {% for category in category %}
        <div>

            <li><a href="{{ path('category_show', {'categoryName': category.name}) }}">{{ category.name }}</a></li>

        </div>

    {% else %}

        Aucune categorie trouvée.

    {% endfor %}


    <a href="{{ path('app_index') }}">

        Retour à l'accueil

    </a>

{% endblock %}
